$orange-light: #ff4c20;

.root-wrapper{
  background-color: #ffd4d4;
  padding: 13px;
  height: 100%;
  overflow: hidden;
}

.app-content {
  width: 100%;
  height: calc(100% - 80px);
  box-sizing: border-box;
  overflow: hidden;
  .mat-raised-button.mat-accent, .mat-fab.mat-accent, .mat-mini-fab.mat-accent {
    background-color: #efd6ff;
  }
}

.mat-dialog-container {
  background: $orange-light !important;
  color: white !important;
  .mat-warn .mat-input-element, .mat-form-field-invalid .mat-input-element,
  .mat-form-field-invalid .mat-form-field-label,.mat-error {
    color: white;
    caret-color: white;
  }
  .mat-dialog-title{
    //text-align: center;
    margin: 0;
  }
  .mat-dialog-content {
    font-size: 1.4em;
  }
}

.chat-container{
  mat-list.mat-list{
    mat-list-item.mat-list-item{
      height: auto !important;
    }
  }

  .chat-list {
    overflow: auto;
    position: fixed;
    top: 90px;
    left: 25px;
    right: 25px;
    bottom: 120px;
    .chat-notification{
      background-color: #ffd4d4;
      border-radius: 10px;
      padding: 2px;
      margin: 7px;
    }
    .chat-list-item {
      margin-top: 5px;
      margin-bottom: 5px;
      border-radius: 1px;
      //background-color: #ffcece;
      h4{
        padding: 6px 3px;
        font-size: 1.4em;
      }
    }
  }

  .gif-message{

  }
}

.chat-footer-container{
  max-height: 70%;
  position: absolute;
  bottom: 0;
  background-color: white;
  overflow: auto;
  .mat-form-field-underline {
    background-color: white;
  }
  .main-button {
    -webkit-transition: all .3s linear 0s;

    .main{
      background-color: white;
      width:33px;
      height:33px;
      border:1px solid #CCC;
      position:absolute;
      top:0; bottom:0; left:0;right:0;
      margin:auto;
      border-radius:50%;
      -webkit-transition: all .3s linear 0s;
    }

    .circle{
      width:8px;
      height:8px;
      background:$orange-light;
      border-radius:50%;
      position:absolute;
      top:0; bottom:0; left:0;right:0;
      overflow:hidden;
      margin:auto;
      animation: circle 6s linear infinite;
    }

    @keyframes circle{
      0%{
        transform:rotate(0deg)
        translate(-17px)
        rotate(0deg);

      }
      100%{
        transform:rotate(360deg)
        translate(-17px)
        rotate(-360deg);
      }
    }
  }
  .gif-holder {
    height: 40%;
    .gif{
      float: left;
      padding: 3px;
      cursor: pointer;
    }
  }
}
